.header{
    height: 120px;
    background-color: #ffc1a0;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
    /* padding-left: 140px;
    padding-right: 140px; */
    
}
.header h1{
    color: #014cc5;
    font-size: 35px;
}

.header div a{
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    margin-left: 36px;

}
.header div a:hover{
    color: rgb(255, 145, 42);
}